* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  letter-spacing: 1.5px;
}


body {
  background: black;
  color: white;
}

.whole {
  margin: 10px;
}

a {
  text-decoration: none;
}


ul {
  margin-left: auto;
}

ul li {
  padding: 5px 10px;
  text-align: center;
}

ul li :hover {
  border-radius: 10px;
  background: #222222;
  color: white !important;
  transition: all ease 0.6s;
}


.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  /* Change height to auto for responsiveness */
}

.hero .left,
.hero .right {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .right {
  max-width: 500px;
}

.hero .left img {
  max-width: 100%;
  /* Adjusted max-width to fit container */
  margin-bottom: -30px;
  /* Adjusted margin for better spacing */
}

.hero .left h4 {
  text-align: center;
  margin: 20px 0;
  text-transform: capitalize;
  font-size: 20px;
  color: #B7AE7A;
}

.hero .left button {
  display: block;
  margin: 0 auto;
  outline: none;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  background: #B7AE7A !important;
  font-weight: bold;


}

.hero .left button:hover {
  background: #222222 !important;
  color: white !important;
  transition: all ease 0.6s;
  border: 1px solid #B7AE7A;
}

.right iframe {
  width: 350px !important;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #B7AE7A;
}



h3 {
  text-align: center;
  padding: 10px;
  border: 1px solid #B7AE7A;
  border-radius: 15px;
  text-transform: uppercase;
  margin: 10px;
  color: #B7AE7A;
  margin-bottom: 50px;

}

.use {
  display: flex;
  flex-direction: column;
  /* Default: vertical layout */
  align-items: center;
  margin-bottom: 50px;

}

.box {
  width: 100%;
  max-width: 400px;
  /* Adjust max-width as needed */
  padding: 20px;
  margin-bottom: 20px;
  background-color: #B7AE7A;
  border-radius: 10px;
  text-align: center;
  color: #222222;
  height: 200px;

}

.box>div {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.box p {
  font-size: 16px;
}



.styles-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  flex-wrap: wrap;


}

.style {
  width: 100%;
  max-width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.style img {
  width: 350px;
}

.style p {
  color: #B7AE7A;
  font-weight: 500;
  padding: 10px;
  text-align: center;

}

.copy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.style button {
  outline: none;
  border: none;
  color: #B7AE7A;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  background: black;
  border: 1px solid #B7AE7A;
  font-weight: bold;
  width: 150px;

}

.fa-css3-alt {
  color: orange;
}

.fa-js {
  color: yellow;
}


.fa-check {
  color: #2ecc71;
}



.allLogs {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: top;
  width: 100%;
  height: auto;
}

.log {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  justify-content: start;
}


.log h4 {
  color: #B7AE7A;
}


.allLogs img {
  width: 300px;
  height: 200px;
}

#about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#about img {
  width: 300px;
}

#about p {
  width: 100%;
  max-width: 800px;
  color: #B7AE7A;


}



.fe-sec {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.fe-box {
  height: 150px;
  width: 45%;
  max-width: 200px;
  border: 1px inset #B7AE7A;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}

.fe-box i {
  font-size: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: darkgray;
}



.fe-box:hover {
  background: #222222;

}


.contact-sec {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
}

.contact-sec input,
textarea {
  padding: 10px 15px;
  width: 100%;
  background: transparent;
  outline: none;
  border: 1px solid #B7AE7A;
  color: #B7AE7A;
  border-radius: 15px;
}

.contact-sec button {
  padding: 10px 40px;
  border: 1px solid #B7AE7A;
  outline: none;
  background: transparent;
  color: #B7AE7A;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}

.contact-sec button:hover {
  background: #B7AE7A;
  color: #222222;
  transition: all ease 0.6s;
}

.or {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;


}

.or p {
  font-size: 20px;
  border: 1px solid #B7AE7A;
  border-radius: 50%;
  padding: 10px;
}

.social {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
}


.social i {
  font-size: 30px;
  color: #B7AE7A;
}

.don {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  gap: 40px;
}

.don-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #B7AE7A;
  height: 400px;
  border-radius: 15px;
}

.don-box img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.UPI {
  color: #222222;
  padding: 5px;
  background: #B7AE7A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 10px;

}


mac {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.fa-paypal {
  font-size: 150px
}

.don-box button {
  border: none;
  outline: none;
  padding: 10px 40px;
  text-align: center;
  color: #222222;
  background: #B7AE7A;
  font-weight: bold;
  border-radius: 10px;
}


.don-info {
  width: 100%;
  max-width: 1000px;
  padding: 20px 50px;
  margin: 0 auto;
  color: #B7AE7A;
}



.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  color: #222222;
  padding: 10px;
  background: #B7AE7A !important;
  font-weight: bold;
}